<div class="home">
    <div class="home__sidebar" [ngClass]="{'hide': show}" #sidebar>
        <button class="exit" *ngIf="showButtons" (click)="toHide()"><i class="fas fa-times"></i></button>
        <div class="text-center p-3">
            <img class="profile" [src]="img" alt="profile">
            <p class="text-white font-weight-bold mt-2">{{user.name}}</p>
        </div>
        <ul>
            <li><a [routerLink]="['content']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Mis contactos</a></li>
            <li><a [routerLink]="['configuration']" routerLinkActive="active" >Configuración</a></li>
            <li><a (click)="logout()">Cerrar sesión</a></li>
        </ul>
        <img class="neoris" src="../../../assets/img/neoris.png" alt="">
    </div>
    <div class="home__sidebar__mobile" [ngClass]="{'leeft': responsive}"  #sidebar>
        <button class="exit" *ngIf="showButtons" (click)="toHide()"><i class="fas fa-times"></i></button>
        <div class="text-center p-3">
            <img class="profile" [src]="img" alt="profile">
            <p class="text-white font-weight-bold mt-2">{{user.name}}</p>
        </div>
        <ul>
            <li><a [routerLink]="['content']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Mis contactos</a></li>
            <li><a [routerLink]="['configuration']" routerLinkActive="active" >Configuración</a></li>
            <li><a (click)="logout()">Cerrar sesión</a></li>
        </ul>
        <img class="neoris" src="../../../assets/img/neoris.png" alt="">
    </div>
    <div class="home__principal"  [ngClass]="{'full': show}" #home>
        <nav class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <button *ngIf="showButtons" class="bars" (click)="toHide()"><i class="fas fa-bars"></i></button>
                <button *ngIf="!showButtons" class="bars" (click)="toggle()"><i class="fas fa-bars"></i></button>
                <h3>MI AGENDA</h3>
            </div>
            <div>
                <button class="add" routerLink="content/new"> <span class="mr-2"><i class="fas fa-plus"></i> </span>Agregar</button>
            </div>
        </nav>
        <div class="m-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>